/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



/* Global */

*{
	margin: 0;
	padding: 0;
	flex-grow: 0;
	flex-shrink: 0;
	text-decoration: none;
	font-family: "Roboto";
	border: none;
	outline: none;
}



/* Variables */

:root{
	/* General */

	--transition-duration: .3s;
	--transition: var(--transition-duration) ease;



	/* Colors */

	--color-1: #1e1e1e;
    --color-2: #252525;
    --color-3: #2d2d2d;
    --color-4: #3c3c3c;
    --text-color: #fff;
	--transparent: rgba(255, 255, 255, .25);



	/* Header */

	--header-height: 60px;
}



/* Body */

body{
	background: var(--color-1);
}



/* Header */

header{
	width: 100%;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
	gap: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition: var(--transition);
}
header.background{
	background: var(--color-2);
}
header section{
	width: 0;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}
header section a{
	width: fit-content;
	height: fit-content;
	padding: 0 4px;
	font-size: 18px;
	color: var(--text-color);
	filter: drop-shadow(0 0 10px #000);
	transition: var(--transition);
}
header.background section a{
	filter: none;
}
header img{
	width: auto;
	height: 100%;
	aspect-ratio: 1.25;
	object-fit: contain;
	filter: drop-shadow(0 0 10px #000);
	transition: var(--transition);
}
header.background img{
	filter: none;
}