/* Hero */

.hero{
    width: 100%;
    height: fit-content;
}

.hero
.image{
    width: 100%;
    height: auto;
    max-width: 2200px;
    max-height: calc(100vh - var(--header-height));
    margin: 0 auto;
    overflow: hidden;
    aspect-ratio: 2;
}

.hero
.image
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}



/* Text */

.text{
    width: 100%;
    height: fit-content;
    border-top: 2px solid var(--color-3);
    border-bottom: 2px solid var(--color-3);
    background: url("../svg/background.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    background: var(--color-2);
}

.text
.content{
    width: fit-content;
    height: fit-content;
    max-width: calc(100% - 84px);
    padding: 42px;
    margin: 0 auto;
}

.text
.content
h1{
    width: 100%;
    height: fit-content;
    font-size: 42px;
    font-weight: 300;
    color: var(--text-color);
}

.text
.content
h1
span{
    font-weight: 400;
    color: var(--accent-color);
}

.text
.content
p{
    width: fit-content;
    height: fit-content;
    max-width: 500px;
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color);
}

.text
.content
p
a{
    color: inherit;
    font-style: italic;
}



/* People */

.people{
    width: 100%;
    height: fit-content;
    padding: 42px 0;
}