/* Hero */

.hero{
	width: 100%;
	height: 100vh;
	position: relative;
}
.hero:hover .controls{
	opacity: 1;
	pointer-events: all;
	transition-delay: 0s;
}
.hero .controls{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: var(--transition);
	transition-delay: .5s;
}
.hero .controls .button-container{
	width: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero .controls .button-container.left{
	float: left;
}
.hero .controls .button-container.right{
	float: right;
}
.hero .controls .button-container button{
	width: calc(100% - 10px);
	height: fit-content;
	padding: 5px;
	cursor: pointer;
	background: none;
}
.hero .controls .button-container button svg{
	width: 100%;
	height: auto;
	filter: drop-shadow(0 0 10px #000);
}
.hero .controls .button-container button svg *{
	fill: none;
	stroke: var(--text-color);
	stroke-width: 10;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.hero .frame{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.hero .frame .content{
	width: 100%;
	height: 100%;
	position: absolute;
	display: inline-flex;
	transition: 1s ease;
}
.hero .frame .content .slide{
	width: 100%;
	height: 100%;
}
.hero .frame .content .slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}