/* Hero */

.hero{
    width: 100%;
    height: fit-content;
}

.hero
.image{
    width: 100%;
    height: auto;
    max-width: 2200px;
    max-height: calc(100vh - var(--header-height));
    margin: 0 auto;
    overflow: hidden;
    aspect-ratio: 2;
}

.hero
.image
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 30%;
}



/* Text */

.text{
    width: 100%;
    height: fit-content;
    border-top: 1px solid var(--strong-transparent);
    border-bottom: 1px solid var(--strong-transparent);
    background: url("../svg/background.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
    background: var(--color-2);
}

.text
.content{
    width: 1216px;
    height: fit-content;
    max-width: calc(100% - 84px);
    padding: 42px;
    margin: 0 auto;
}

.text
.content
h1{
    width: 100%;
    height: fit-content;
    font-size: 42px;
    font-weight: 300;
    color: var(--text-color);
}

.text
.content
h1
span{
    font-weight: 400;
    color: var(--accent-color);
}

.text
.content
p{
    width: fit-content;
    height: fit-content;
    max-width: 500px;
    font-size: 24px;
    font-weight: 300;
    color: var(--text-color);
}

.text
.content
p
a{
    color: inherit;
    font-style: italic;
}



/* People */

.people{
    width: 100%;
    height: fit-content;
    padding: 42px 0;
}

.people
.content{
    width: 1216px;
    height: fit-content;
    max-width: calc(100% - 94px);
    padding: 0 42px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-flow: row wrap;
    gap: 42px;
}

.people
.content
.card{
    width: 260px;
    height: fit-content;
}

.people
.content
.card
img{
    width: calc(100% - 4px);
    height: auto;
    aspect-ratio: .8;
    object-fit: cover;
    object-position: 0 -30px;
    border-radius: 5px;
    border: 1px solid var(--strong-transparent);
}

.people
.content
.card
h2{
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    font-weight: 300;
    color: var(--text-color);
}

.people
.content
.card
h3{
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    color: #666;
}